__pycache__/
*.pyc

.vscode/
.idea/

outputs/

.env
venv/

data/raw_pdfs/
__pycache__/
.ipynb_checkpoints/

*.pyc
*.pyo

.env

.vscode/settings.json

outputs/

*.log

.DS_Store
Thumbs.db
.env

.env
__pycache__/
.ipynb_checkpoints/
*.pyc